{% extends 'base_with_navbar_client.html' %}
{% load static %}

{% block title %}
    Điều khiển thiết bị
{% endblock title %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'style_control.css' %}">
{% endblock style %}


{% block body %}
	<form method="POST">{% csrf_token %}
		<div class="main">
			<div class="container">
				<div class="bg1">
					
					<label class="switch">	
						<input type="checkbox" name="Auto" id="Auto" onchange="switchAuto()">
						<span class="slider round"></span>
					</label>
					<p>Tự động</p>
					<div id="manual">
						<label class="switch">
							<input type="checkbox" name="cbCradle" id="cbCradle">
							<span class="slider round"></span>
						</label>
						<p>Nôi</p>

						<label class="switch">
							<input type="checkbox" name="cbFan" id="cbFan">
							<span class="slider round"></span>
						</label>
						<p>Quạt</p>
					</div>

					<input class="btn btn-success" type="submit" value="Lưu" name="Save">
				</div>

				<div class="bg1">
					<p>Chế độ tự động</p>
					<h2>{{auto | default:None}}</h2>
					
					<p>Trạng thái nôi</p>
					<h2>{{statusCradle | default:None}}</h2>
					
					<p>Trạng thái quạt</p>
					<h2>{{statusFan | default:None}}</h2>
				</div>
			</div>
		</div>
	</form>

    <script>
        cbAuto = document.getElementById('Auto')
        cbCradle = document.getElementById('cbCradle')
		cbFan = document.getElementById('cbFan')

		divManual = document.getElementById('manual')
		
		Auto = '{{auto}}'
		statusCradle = '{{statusCradle}}'
		statusFan = '{{statusFan}}'

		if(Auto == 'ON') {
			cbAuto.checked = true
			divManual.style.display = "none"
		}

		if(statusCradle == 'ON') {
			cbCradle.checked = true
		}

		if(statusFan == 'ON') {
			cbFan.checked = true
		}
		
		function switchAuto() {
			if(cbAuto.checked) {
        		divManual.style.display = "none"
			} else {
				divManual.style.display = "block"
			}
		}

    </script>
{% endblock body %}



