{% extends 'base_with_navbar_client.html' %}
{% load static %}

{% block title %}
    Home
{% endblock title %}

{%block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_home.css' %}">
{%endblock style %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="bg1">
                <img src="{{image_encode | default:None}}" alt="Hình ảnh" style="width: 500px; height: 500px;">
            </div>
            <div class="bg1">
                <h2>{{emoji | default:None}}</h2>
                <p>Trạng thái</p>

                <h2>{{temp | default:None}} &deg; C</h2>
                <p>Nhiệt độ</p>

                <h2>{{hum | default:None}} %</h2>
                <p>Độ ẩm</p>
            </div>
        </div>
    </div>

{% endblock body %}