{% extends 'base.html' %}

{% block title %}
    Detail Device
{% endblock title %}

{% block body %}
    {% if check %}
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Cost</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                    {% for name, cost, count in zip_device %}
                        <tr>
                            <td scope="row">{{name}}</td>
                            <td>{{cost}}</td>
                            <td>{{count}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
        {% else %}
        <p>Người dùng chưa mua thiết bị nào!</p>
        {% endif %}
{% endblock body %}

